<!DOCTYPE html>
<html>

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
       
    </script>
</head>

<body>
	<% include menu.ejs %>
	<% if (user) { %>
    <h2> welcome back <%= user.name %></h2>
    <% } else { %>
    <form action="/login" method="post">
    	<label>username</label>
	<input type='text' name='username'>
	<label> password </label>
	<input type='password' name='password'>
	<input type='submit' value='login'>
    </form>
    <% } %>
    
    
    
    <% if (message) { %>
    <h2><%= message %></h2>
<% } %>
    
</body>

</html>
