<!DOCTYPE html>
<head>
<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
<%- include menu.ejs %>
<% if(user) { %>
<h2> welcome <%= user.username %></h2>
<% } %>
<h2> friends in group:</h2>

<% for(var i=0; i < users.length;i++) { %>
<h3><%= users[i].username %></h3>
<% } %>


<input type='button' name='button' id='button' value='generate names'></input>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/scripts/main.js"></script>
<script>
$(document).ready(function(){
	$('#button').click(function(){
		$.post( "/randomizer", function( data ) {
 			 alert(data)
		});	
	})

})
</script>
</body>
