<!DOCTYPE html>
<html>
  <head></head>
  <body>

	<% if (user) { %>
    <h2><%= user.name %></h2>
    <h3><%= user.email %></h3>
	<% } %>
    <a href="/">home</a><br>
    <a href="/logout">log out</a>
  </body>
</html>

